.image-preview {
  position: fixed;
  inset: 0;
  z-index: 500;
  overscroll-behavior: contain;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  &-backdrop {
    position: absolute;
    inset: 0;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &-img {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overscroll-behavior: contain;
    -webkit-user-drag: none;
    user-drag: none;
  }
}

.image-zoom {
  &-toolbar {
    position: absolute;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.625rem;
    z-index: 501;
  }
  &-btn {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 9999px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: oklab(37.1% 0 0);
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
  &-cursor {
    &-grab {
      cursor: grab;
    }
    &-grabbing {
      cursor: grabbing;
    }
  }
}
